/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Light Mode colors */
:root {
	/*
	--gray100: #fff;
	--gray300: #d3d3d3;
	--gray500: #808080;
	--gray700: #545454;
	--gray800: #404040;
	--gray900: #333;
	--blue: #007aff;
	--blueDark: #00008b;
	--buttonLabel: #fff;
	*/

	/* semantic colors */
	--background: #fff;
	--stroke: #d3d3d3;
	--text: #333;
	--text-secondary: #666;
	--text-inverse: #fff;

	--link: #006ee5;
	--link-active: #00008b;
	--link-visited: #5856d6; /* purple 17050F */

	--button: #007aff;
	--button-active: #00008b;
	--button-disabled: #d3d3d3;
}

/* Dark Mode colors */
@media (prefers-color-scheme: dark) {
	:root {
		/*
	--gray100: #000;
	--gray300: #414141;
	--gray500: #949494;
	--gray700: #b0b0b0;
	--gray800: #d9d9d9;
	--gray900: #fff;
	--blue: #42a2ff;
	--blueDark: #007aff;
	--buttonLabel: #fff;
	*/

	/* semantic colors */
	--background: #000;
	--stroke: #414141;
	--text: #d9d9d9;
	--text-secondary: #949494;
	--text-inverse: #fff;

	--link: #42a2ff;
	--link-active: #007aff;
	--link-visited: #7d7aff; /*purple a6a6f8 … 5e5ce6 … 7d7aff*/ 

	--button: #42a2ff;
	--button-active: #007aff;
	--button-disabled: #414141;
	}
}


/* ORIGINAL COLORS */

/* Theme colors */
/* :root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--syntax-tab-size: 2;
} */

/* @media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8; */

		/* --text-color is assigned to --color-gray-_ above */
		/* --text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
} */


/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	background-color: var(--background); /*was --background-color*/
}
html {
	overflow-y: scroll;
}
body {
	max-width: 42em;
	color: var(--text);
	font-size: 1.1rem;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
	padding-bottom: 0.75rem;
}

li {
	line-height: 1.5;
	/* margin: 0rem 0rem; COULD */
	padding-bottom: 1rem;
}

img {
	border-radius: 24px;
	max-width: 100%;
	filter: opacity(25%);
}

img[width][height] {
	height: auto; /* Preserve aspect ratio */
}

a { /* a[href] */
	color: var(--link); /* TODO fix PREV: text-color-link */ 
}
a:visited {
	color: var(--link-visited); /* TODO fix PREV: text-color-link-visited*/
}
a:hover,
a:active {
	color: var(--link-active); /* TODO fix PREV --text-color-link-active */
}

/* there's probably a way to make the footnotes not be underlined */
/* not working though */
/* .footnote-ref a {
	text-decoration: none;
}
.footnote-backref a {
	text-decoration: none;
} */

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

hr {
	border: 0.5px solid var(--stroke);
}

.links-nextprev {
	list-style: none;
	border-top: 1px solid var(--stroke);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}


/*        */
/* Header */
/*        */

header {
	margin-bottom: 2rem;
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
	font-size: 0.85em;
}
header:after {
	content: "";
	display: table;
	clear: both;
}

.go-home a {
	color: var(--text-secondary);
	text-decoration: none;
	margin-right: 2em;
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
}
.go-home a:hover, a:active {
	color: var(--link-active);
	text-decoration: underline;
}



/*     */
/* Nav */
/*     */

.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	color: var(--text-secondary);
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

.nav li {
	/* margin: 0rem 0.5rem;  */
	padding-bottom: 0rem;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	/* padding-left: 1.5rem; */     /* used for count on left */
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 0.5em;
}
/* this is for the count on the left */
/* .postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
} */
.postlist-date,
.postlist-item:before {
	/* font-size: 0.8125em; */     /* 13px /16 */
	color: var(--text-secondary);  /* replace with secondary text color */
	/* color: var(--color-gray-90); */
}
.postlist-date {
	word-spacing: -0.5px;
}

.postlist a[href]:not(:hover) {
	color: var(--text);
	text-decoration: none;
}

.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	/* padding-left: .25em; */    /* used for count on left */
	/* padding-right: .5em; */    /* used for count on left */
	/* remove underline */
	/* text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px; */
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	color: var(--text-secondary);
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

/*        */
/* Input */
/*        */

/* brought from other site */
/* styling for text field input and textarea */
input, textarea {
    box-sizing: border-box;
    resize: none;
	font-size: 1rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: var(--background);
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--stroke);
    border-radius: 0.5rem;
    color: var(--text)
}
label {
	font-weight: 500;
}


/*        */
/* Button */
/*        */

button {
	font-size: 1.1rem;
	font-weight: bold;
	color: var(--text-inverse);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: var(--button);
    border-style: none;
    border-radius: 0.7rem;
    transition-duration: 0.2s;
    cursor: pointer;    
}

/* styling for button on hover*/
button:hover {
  transform: translateY(0.25rem);
  transform: scale(105%);
}

button:active {
  background-color: var(--button-active);
  transform: translateY(0.25rem);
  transform: scale(95%);
}

/* styling for button when disabled -- is this used? */
button:disabled {
  background-color: var(--button-disabled);
}



/* blockquote */

blockquote {
	border-left: 0.125rem solid var(--stroke); /* border is 0.5px for reference */
	/* color: var(--text-secondary); */
	padding-left: 1rem; /* space from stroke to text */
	padding-top: 1rem; /* compensates for <p> bottom padding */

	display: block;
	margin-block-start: 0rem;
	margin-block-end: 0rem;
	margin-inline-start: 0rem;
	margin-inline-end: 0rem;
}


/*        */
/* Footer */
/*        */

.footer {
	font-size: 0.85em;
	padding: 1em;
	/* padding: 2rem 0rem; */
}  
.footer p {
	color: var(--text-secondary);
}

.footer a {
	text-decoration: none;
	color: var(--text-secondary);
}

.footer a:hover, a:active {
	text-decoration: underline;
	color: var(--link-active);
}


/*      */
/* Grid */
/*      */

/* desktop grid size */

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 1rem;
	margin-bottom: 2rem;
}

/* mobile grid sizing */

@media only screen and (max-width: 600px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		grid-gap: 1rem;
	}
}

/* 
Used a guide https://css-tricks.com/a-grid-of-logos-in-squares/
I want a fixed 2:1 grid so any img fills that ratio, not working currently
Workaround is to export at same aspect
*/

.grid > div {
  content: "";
  display: grid;
}

/* .grid > div > img { */
.grid > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 12px;
}