---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 3
---

<h1>Contact</h1>
	<p>
    	Get in touch by completing the form below.
  </p>

<form action="https://formkeep.com/f/74c6cdc3fe47"
    accept-charset="UTF-8"
    enctype="multipart/form-data"
    method="POST"
    target="_blank">

    <input type="hidden" name="utf8" value="✓">

    <!-- Email field -->
    <label for="email-address">Email Address</label>
    <input type="email" id="email-address" name="email">

    <!-- Name field -->
    <label for="name">Name</label>
    <input type="name" id="name" name="name" required>	

    <!-- Comment field -->
    <label for="comment">Comment</label>
    <textarea name="comment" id="comment" rows="8" required></textarea>

    <button type="submit">Submit</button>
</form>


