---
layout: layouts/home.njk
numberOfLatestPostsToShow: 3
---

<img src="/headshot.jpg" alt="Headshot of Andrew Haglund" width="224" height="224">
<h1>Hi, I’m Andrew</h1>
	<p>
    	I live in Urbana, IL, and work as a UX lead at John Deere.
    	I love to build furniture, play Nintendo, futz on the piano, and go on dog walks.
    	I studied industrial design at the University of Illinois and previously worked at Flats or Spikes, Nutrien, and Agrible. Follow me on <a href="https://hachyderm.io/@haglund">Mastodon</a> or <a href="/contact">contact me</a> to say hello.
    <p>
    	View my <a href="/resume">résumé</a> for my full work history.
    </p>

<hr>

{# Recent Posts #}

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Recent Posts</h2>
{# original version showed number of latest posts #}
{# <h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2> #}

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p><a href="/blog/">View All Posts →</a></p>
{# <p>More posts can be found in <a href="/blog/">the archive</a>.</p> #}

{# original version shows the number of posts in archive #}
{# <p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p> #}
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}

<hr>


<!-- Hobby -->
<h2>Furniture</h2>
	<p>Before jumping into work, how about woodwork? I enjoy making furniture by hand, joined without screws or nails.</p>
	
	<div class="grid">
		<img src="/furniture-tv.jpg"
			alt="Wooden entertainment console below wall-mounted TV."
			width="100%">

		<img src="/furniture-table.jpg"
			alt="Coffee table with built in storage."
			width="100%">
	</div>
<hr>

<!-- Work samples -->
    
<h2>Recent Design Work</h2>

	<h3>John Deere (Current Role)</h3>
		<p>
			I lead the user experience for monitoring and analyzing, which helps agriculture and construction groups manage their fleet with mapping, notifications, real-time logistics, and post-analysis of agronomic data.
		</p>

	<h3>Flats or Spikes</h3>
		<p>
			I was the lead designer at an early-stage fitness startup focusing on distance runners and their coaches. I created the design system and every interaction in the app.
		</p>

		<div class="grid">
			<img src="/fos-tour-team.jpg"
				alt="Four onboarding screens for a running app."
				width="100%">

			<img src="/fos-review.jpg"
				alt="Screenshot of video timeline editing feature."
				width="100%">

			<img src="/fos-capture.jpg"
				alt="Screenshot of a split-time capturing feature."
				width="100%">

			<img src="/fos-tour-train.jpg"
				alt="Three onboarding screens for a personal trainer app."
				width="100%">
		</div>

	<h3>Nutrien Ag Solutions</h3>
		<p>
			I joined Nutrien as part of the <a href="https://www.nutrien.com/investors/news-releases/2018-nutrien-announces-agreement-acquire-agrible-inc-strengthening-digital">Agrible acquisition</a>. My time there was spent integrating our technology into Nutrien’s ecosystem and leading the design of our carbon capture pilot programs.
		
		<p>
			View my <a href="/resume">résumé</a> for my full work history.
		</p>