---
layout: layouts/base.njk
eleventyNavigation:
  key: Now
  order: 0
---

{% renderTemplate "md" %}

# Now
Last Updated September 13, 2024

- On parental leave from work until October and enjoying the fall weather in Urbana.
- Completed a substantial update to [MapKeep](https://apps.apple.com/us/app/mapkeep/id6467408833) and a follow-up bug-fix update. Working through some final details on adding a tip jar, just in case people want to support the app.
- Heading out this weekend to see a friend from college and family.
- After being tempted by the Apple Watch Series 10’s new curves, shininess, and slimness, I decided to hold off buying anything after the [baffling Apple event](https://512pixels.net/2024/09/glowtime-thoughts-its-complicated/).
- Tinkering with my [Odin 2 mini](https://www.ayntec.com/products/odin2-mini). Damn this thing is nice. (I was not expecting there to be so much setup! I got used to Delta and Linux-based Anbernics that are way more plug and play. Thanks [Russ](https://retrogamecorps.com/2022/05/28/ayn-odin-starter-guide/#Emulators)!)
- Listening to [*Don’t Forget Me*](https://music.apple.com/us/album/dont-forget-me/1727422029) by Maggie Rogers, [*Forever*](https://music.apple.com/us/album/forever/1738100076) by Charly Bliss, and [*American Football*](https://music.apple.com/us/album/american-football-deluxe-edition/1651301990).
- Rewatching *30 Rock*.
- Stalled watching *[Sunny](https://tv.apple.com/us/show/sunny/umc.cmc.7c5t9dde8dxoaxwyl5rkuw38p)* on Apple TV. Up Next: *Slow Horses* season 4.
- Playing *The Legend of Zelda: The Wind Waker HD* on Steam Deck. Grateful for the [contrasty](https://crementif.github.io/cemu_graphic_packs/) graphic pack which makes it feel more like the original.
- Waiting for the [Boox Go 6](https://shop.boox.com/products/go6) to arrive.
- The [Tulip](https://tulip.computer) appeared! I’ll start playing with this soon.
- Preordered the [Retroid Pocket 5](https://www.goretroid.com/products/retroid-pocket-5-handheld). [Russ](https://www.youtube.com/c/RetroGameCorps) said the [4](https://www.goretroid.com/collections/frontpage/products/retroid-pocket-4-handheld?variant=44488626962656) is great and the 5 has OLED and improved ergonomics.
- I might be buying too many gaming things and not playing enough games. (It’s a disease.)
- Speaking of: got the amazing [8bitDo in blue](https://shop.8bitdo.com/products/8bitdo-pro-2-bluetooth-special-edition).

Thanks to [Derek Sivers](https://sive.rs/nowff) for adding this site to [*nownownow*](https://nownownow.com) and for inspiring the *Now* movement (via [Manton Reece](https://www.manton.org/2015/10/30/the-now-page.html)).

{% endrenderTemplate %}