---
layout: layouts/base.njk
eleventyNavigation:
  key: Now
  order: 0
---

{% renderTemplate "md" %}

# Now
Last Updated October 2, 2024

- Just ended my parental leave and getting back up to speed at work.
- Trying to do a “no spend” month in October 🤞
- Reading [*The Creative Act*](https://www.penguinrandomhouse.com/books/717356/the-creative-act-by-rick-rubin/) by Rick Rubin on the passport-sized [Boox Go 6](https://shop.boox.com/products/go6) after listening to his [Design Matters episode](https://www.designmattersmedia.com/podcast/2023/rick-rubin).
- Added iOS 18 app icon support to [MapKeep](/blog/2024/mapkeep-icons/).
- Playing *Zelda Echoes of Wisdom* on Switch. (Paused *HD Twilight Princess* on my [Odin 2 mini](https://www.ayntec.com/products/odin2-mini).)
- Rewatching *30 Rock*. Almost done with *[Sunny](https://tv.apple.com/us/show/sunny/umc.cmc.7c5t9dde8dxoaxwyl5rkuw38p)* on Apple TV, and watching *Penguin* and *Rings of Power*. Up Next: *Slow Horses* season 4.
- [Tulip](https://tulip.computer) arrived but haven’t played with it yet.
- Got the amazing [8bitDo in blue](https://shop.8bitdo.com/products/8bitdo-pro-2-bluetooth-special-edition).

Thanks to [Derek Sivers](https://sive.rs/nowff) for adding this site to [*nownownow*](https://nownownow.com) and for inspiring the *Now* movement (via [Manton Reece](https://www.manton.org/2015/10/30/the-now-page.html)).

{% endrenderTemplate %}