---
layout: layouts/home.njk
eleventyNavigation:
  key: Now
  order: 0
---

{% renderTemplate "md" %}

# Now
Last Updated September 3, 2024

- On parental leave from work until October and enjoying the fall weather in Urbana.
- Completed a substantial update to [MapKeep](https://apps.apple.com/us/app/mapkeep/id6467408833).
- Listening to [*Don’t Forget Me*](https://music.apple.com/us/album/dont-forget-me/1727422029) by Maggie Rogers, [*Forever*](https://music.apple.com/us/album/forever/1738100076) by Charly Bliss, and [*American Football*](https://music.apple.com/us/album/american-football-deluxe-edition/1651301990).
- Rewatching *30 Rock*.
- Watching *[Sunny](https://tv.apple.com/us/show/sunny/umc.cmc.7c5t9dde8dxoaxwyl5rkuw38p)* on Apple TV.
- Playing *The Legend of Zelda: The Wind Waker HD* on Steam Deck. Grateful for the [contrasty](https://crementif.github.io/cemu_graphic_packs/) graphic pack which makes it feel more like the original.
- Waiting for the [Boox Go 6](https://shop.boox.com/products/go6) and [Tulip](https://tulip.computer) to arrive at my door.
- Anticipating more details on [Retroid’s](https://www.goretroid.com) upcoming Pocket mini and Retroid Pocket 5 ;-)

Thanks to [Derek Sivers](https://sive.rs/nowff) for inspiring the *Now* page movement (via [Manton Reece](https://www.manton.org/2015/10/30/the-now-page.html)).

{% endrenderTemplate %}