---
title: Sketches
description: A collection of sketches by Andrew Haglund.
layout: layouts/home.njk
---

<h1>{{title}}</h1>

{% renderTemplate "md" %}

At the beginning of the pandemic I sketched with [Linea](https://linea-app.com/) every day and posted to Instagram.

{% endrenderTemplate %}

<div class=grid>
{% photoFolder "public/sketches" %}
</div>