---
title: Sketches
description: A collection of sketches by Andrew Haglund.
layout: layouts/home.njk
---

<h1>{{title}}</h1>

<p>
    At the beginning of the pandemic I would make fun little sketches with <a href="https://linea-app.com/">Linea</a> every day and post to Instagram.
</p>

<div class=grid>
{% photoFolder "public/sketches" %}
</div>